@media (max-width: 768px) {
    .alltodosection {
        flex-direction: column;
    }

    .todoadd,
    .All-todos {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 20px;
    }

    .btn-section {
        flex-direction: column;
    }

    .Add,
    .ClearAll {
        width: 100%;
        margin-top: 5px;
    }
}